!!! 5
%html
  %head
    @@include('./shared/_head.haml')
  %body
    %script{src: 'scripts/bundle.js'}

    .app-left-sidebar
      %ul.left-sidebar__nav
        - links = [{slug: 'info', icon: 'fa fa-info-circle', title: 'Что делать?'}, {slug: 'products', icon: 'fa fa-th-large', title: 'Товары', href: 'products.html'}, {slug: 'orders', icon: 'fa fa-shopping-cart', title: 'Заказы', href: 'orders.html'}, {slug: 'catalog', icon: 'fa fa-folder-open', title: 'Витрина'}, {slug: 'settings', icon: 'fa fa-cog', title: 'Настройка'}, {slug: 'shops', icon: 'fa fa-briefcase', title: 'Мои магазины'}, {slug: 'user', icon: 'fa fa-user', title: 'Олег С.'}]
        - for l of links
          - l = links[l]
          - if l.slug == 'products'
            - li_class = 'active'
          - else
            - li_class = ''
          %li{class: "#{li_class}"}
            %a.left-sidebar__nav-link{href: "#{l.href}"}
              %i.left-sidebar__nav-link-icon{class: "#{l.icon} nav-link-icon-#{l.slug}"}
              .left-sidebar__nav-link-title= l.title
              .clearfix
    .app-main-content
      .container-fluid
        .col-lg-10.col-lg-offset-1
          .row
            %div( data-react-class="OperatorCategories" )
