!!! 5
%html
  %head
    @@include('./shared/_head.haml')
  %body
    %script{src: 'scripts/bundle.js'}

    / App Left Sidebar
    .app-left-sidebar
      %ul.left-sidebar__nav
        - links = [{slug: 'info', icon: 'fa fa-info-circle', title: 'Что делать?'}, {slug: 'products', icon: 'fa fa-th-large', title: 'Товары', href: 'products.html'}, {slug: 'orders', icon: 'fa fa-shopping-cart', title: 'Заказы', href: 'orders.html'}, {slug: 'catalog', icon: 'fa fa-folder-open', title: 'Витрина'}, {slug: 'settings', icon: 'fa fa-cog', title: 'Настройка'}, {slug: 'shops', icon: 'fa fa-briefcase', title: 'Мои магазины'}, {slug: 'user', icon: 'fa fa-user', title: 'Олег С.'}]
        - for l of links
          - l = links[l]
          - if l.slug == 'orders'
            - li_class = 'active'
          - else
            - li_class = ''
          %li{class: "#{li_class}"}
            %a.left-sidebar__nav-link{href: "#{l.href}"}
              %i.left-sidebar__nav-link-icon{class: "#{l.icon} nav-link-icon-#{l.slug}"}
              .left-sidebar__nav-link-title= l.title
              .clearfix
    / end App Left Sidebar

    / App Header Navbar
    .app-header-navbar
      .container-fluid
        .col-lg-10.col-lg-offset-1
          %h1.header-navbar__title.pull-left Заказы
          %h1.header-navbar__brand.pull-right Field&amp;Rag
          %form.pull-right
            %input.form-control.orders-list__search-input{type: 'search', placeholder: 'Найти название, номер, город'}
          .clearfix
    / end App Header Navbar

    - order_states = {new: {slug: 'new', title: 'Новый'}, delivery: {slug: 'delivery', title: 'Доставка'}, cancelled: {slug: 'cancelled', title: 'Отменён'}, paused: {slug: 'paused', title: 'Пауза'}}

    / App Main Content
    .app-main-content
      .container-fluid
        .col-lg-10.col-lg-offset-1
          .orders-list
            %form.products__new-form.simple_form{:action => ""}
              / Breadcrumbs
              %ul.breadcrumb
                %li
                  %a{:href => "orders_list.html", :title => 'Все заказы'}
                    Все заказы
              / end Breadcrumbs
              / Order Header
              %header.order-header
                .row
                  .col-md-8
                    %h1.order-header__title
                      Заказ 0023
                    %span.order-status-label{class: "order-status-label-new"} Оплачен
                    .dropdown
                      %a.order-status-label{class: "order-status-label-new", href: '#', data: {toggle: 'dropdown'}}
                        На доставке
                        %i.fa.fa-angle-down
                      %ul.dropdown-menu.orders-list__dropdown-menu
                        - for order of order_states
                          - order = order_states[order]
                          %li
                            %a.orders-list__modal-btn{class: "orders-list__modal-btn-#{order.slug}"}
                              = "#{order.title}"
                  .col-md-4
                    %span.order-creation-time
                      Заказ создан &mdash; 11:04, 25 сентября
              / end Order Header
              %article.order-body
                %ol.order-sections
                  %li.order-section
                    .order-section__header
                      .order-section__number 1
                      %h2.order-section__title Покупатель
                      .order-section__edit{title: 'Редактировать'}
                        %span
                          Редактировать
                    .form-group
                      .row
                        .col-sm-4
                          .form-group
                            %label
                              Имя
                            %p.text-larger
                              Евгений
                        .col-sm-4
                          .form-group
                            %label
                              Телефон
                            %p.text-larger
                              = '+7 (905) 716-14-51'
                        .col-sm-4
                          .form-group
                            %label
                              Емейл
                            %p.text-larger
                              genue.luben@gmail.com
                  %li.order-section
                    .order-section__header
                      .order-section__number 2
                      %h2.order-section__title Доставка
                      .order-section__edit{title: 'Редактировать'}
                        %span
                          Редактировать
                    .form-group
                      .row
                        .col-sm-4
                          .form-group
                            %label
                              Город
                            %p.text-larger
                              Санкт-Петербург
                        .col-sm-4
                          .form-group
                            %label
                              Адрес
                            %p.text-larger
                              ул. Академика Янгеля, дом 5, корпус 25, квартира 12, домофон 356
                      .row
                        .col-sm-4
                          .form-group
                            %label
                              Доставка
                            %p.text-larger
                              Курьером
                        .col-sm-4
                          .form-group
                            %label
                              Комментарий к заказу
                            %p.text-larger
                              Доставка послезавтра!
                      .row
                        .col-sm-12
                          .form-group
                            %button.btn.btn-lg.btn-green{type: 'submit'}
                              Отправить на доставку
                  %li.order-section
                    .order-section__header
                      .order-section__number 3
                      %h2.order-section__title Оплата
                    .form-group
                      .row
                        .col-sm-4
                          .form-group
                            %label
                              Способ оплаты
                            %p.text-larger
                              Банковские карты
                        .col-sm-4
                          .form-group
                            %label
                              Статус оплаты
                            %p.text-larger
                              %span.order-status-label{class: "order-status-label-new"} Оплачен
                  %li.order-section
                    .order-section__header
                      .order-section__number 4
                      %h2.order-section__title Состав заказа
                    .row
                      .col-md-8
                        %table.table.table-default
                          %tbody
                            %tr
                              %td.border-top-none
                                %a{:href => "#product", :title => 'Мыльница с якорем'}
                                  %img{:src => "assets/product-92x92-1.jpg", :alt => ""}
                              %td.border-top-none
                                %h4.order-product-name
                                  %a{:href => "#product", :title => 'Мыльница с якорем'} Мыльница с якорем
                                %p
                                  Размер: 16
                                  %br
                                  Артикул: 5643454
                              %td.border-top-none
                                Количество: 2
                              %td.border-top-none
                                .price-label
                                  12 000 руб.
                              %td.border-top-none
                                %button.btn-remove-circle
                            %tr
                              %td
                                %a{:href => "#product", :title => 'Мыльница с якорем'}
                                  %img{:src => "assets/product-92x92-1.jpg", :alt => ""}
                              %td
                                %h4.order-product-name
                                  %a{:href => "#product", :title => 'Мыльница с якорем'} Мыльница с якорем
                                %p
                                  Размер: 16
                                  %br
                                  Артикул: 5643454
                              %td
                                Количество: 2
                              %td
                                .price-label
                                  12 000 руб.
                              %td
                                %button.btn-remove-circle
                            %tr
                              %td.border-top-none{colspan: 3}
                                .btn.btn-add-fields{role: 'products__new-form-params-add'}
                                  Добавить товар к заказу
                              %td.border-top-none{colspan: 2}
                                %p
                                  Итого
                                .price-label
                                  12 000 руб.
                        .products__new-form-actions
                          %button.products__new-form-remove-btn.pull-right
                            Удалить товар навсегда


    / end App Main Content

    / Orders Modal
    .modal.orders-modal.fade{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "order-modal", :tabindex => "-1"}
      .modal-dialog
        .modal-content{role: 'modal-content'}
          .modal-header
            .pull-left
              Заказ №0003
            .pull-right
              .dropdown
                %a.orders-list__modal-btn.orders-list__modal-btn-new{href: '#', 'data-toggle': 'dropdown'}
                  Новый
                  &nbsp;
                  %i.fa.fa-angle-down
                %ul.dropdown-menu.orders-list__dropdown-menu
                  - for order of order_states
                    - order = order_states[order]
                    %li
                      %a.orders-list__modal-btn{class: "orders-list__modal-btn-#{order.slug}"}
                        = "#{order.title}"
            .clearfix
            -#%button.close{"data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
          .modal-body
            .row
              .col-md-3
                Товары
              .col-md-9
                - for i in [0..2]
                  .media.order-products__list-item
                    .pull-left
                      .media-object
                        %img{src: 'assets/product-thumb.png', width: 34, height: 34}
                    .media-body
                      Мыльница с якорем
            %hr
            .row
              .col-md-3
                Покупатель
              .col-md-9
                Лучинин Евгений Павлович, genue.luben@gmail.com,
                %nobr +7 (905) 716-14-51
            %hr
            .row
              .col-md-3
                Адрес
              .col-md-9
                Москва, 123100, улица 1905 года, 5-39
            %hr
            .row
              .col-md-3
                Стоимость
              .col-md-9
                %span.order-products__list-item-cost 15 800 руб.
                &nbsp;&nbsp;
                %span.order-status-bullet.order-status-bullet-new
                Оплачено
            %hr
    / end Orders Modal