!!! 5
%html
  %head
    @@include('./shared/_head.haml')
  %body
    %script{src: 'scripts/bundle.js'}

    .app-left-sidebar
      %ul.left-sidebar__nav
        - links = [{slug: 'info', icon: 'fa fa-info-circle', title: 'Что делать?'}, {slug: 'orders', icon: 'fa fa-th-large', title: 'Товары', href: '#'}, {slug: 'orders', icon: 'fa fa-shopping-cart', title: 'Заказы'}, {slug: 'catalog', icon: 'fa fa-folder-open', title: 'Каталог'}]
        - for l of links
          - l = links[l]
          %li
            %a.left-sidebar__nav-link{href: "#{l.href}"}
              %i.left-sidebar__nav-link-icon{class: "#{l.icon} nav-link-icon-#{l.slug}"}
              .left-sidebar__nav-link-title= l.title
              .clearfix
    .app-main-content
      .container-fluid
        .col-lg-10.col-lg-offset-1
          .orders-list
            .pull-right
              %h1 Field&Rag
            .clearfix
            .orders-list__list
              %h1.orders-list__title.pull-left Заказы
              %form.pull-right
                %input.form-control.orders-list__search-input{type: 'search', placeholder: 'Найти название, номер, город'}
              .clearfix
              - order_states = {new: {slug: 'new', title: 'Новый'}, delivery: {slug: 'delivery', title: 'Доставка'}, cancelled: {slug: 'cancelled', title: 'Отменён'}, paused: {slug: 'paused', title: 'Пауза'}}
              %table.table.orders-list__table
                %thead.orders-list__table-header
                  - table_columns = [{slug: 'status', title: 'Статус'}, {slug: 'number', title: 'Номер'}, {slug: 'content', title: 'Что в заказе'}, {slug: 'city', title: 'Город'}, {slug: 'time', title: 'Когда'}, {slug: 'total', title: 'Стоимость'}]
                  - for col of table_columns
                    - col = table_columns[col]
                    %td.orders-list__table-header-cell{class: "orders-list__table-header-cell-#{col.slug}"}= col.title
                - for order of order_states
                  - order = order_states[order]
                  %tr.orders-list__table-row
                    %td.orders-list__table-status{class: "orders-list__table-status-#{order.slug}"}
                      .dropdown{role: 'order-status-dropdown'}
                        %a.orders-list__table-status-btn{class: "orders-list__modal-btn-#{order.slug}", href: '#', 'data-toggle': 'dropdown'}
                          = order.title
                          &nbsp;
                          %i.fa.fa-angle-down
                        %ul.dropdown-menu.orders-list__status-menu
                          - for o of order_states
                            - o = order_states[o]
                            %li
                              %a.orders-list__modal-btn{class: "orders-list__modal-btn-#{o.slug}"}
                                = "#{o.title}"
                    %td.orders-list__table-number{role: 'orders-list__table-modal-btn'}
                      0001
                    %td{role: 'orders-list__table-modal-btn'}
                      Стол компьтерный Rage
                    %td.orders-list__table-location{role: 'orders-list__table-modal-btn'}
                      Москва
                    %td.orders-list__table-time{role: 'orders-list__table-modal-btn'}
                      Два часа назад
                    %td{role: 'orders-list__table-modal-btn'}
                      %nobr
                        %span.order-status-bullet{class: "order-status-bullet-#{order.slug}"}
                        15 800 руб.
    
    .modal.orders-modal.fade{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "order-modal", :tabindex => "-1"}
      .modal-dialog
        .modal-content{role: 'modal-content'}
          .modal-header
            .pull-left
              Заказ №0003
            .pull-right
              .dropdown
                %a.orders-list__modal-btn.orders-list__modal-btn-new{href: '#', 'data-toggle': 'dropdown'}
                  Новый
                  &nbsp;
                  %i.fa.fa-angle-down
                %ul.dropdown-menu.orders-list__dropdown-menu
                  - for order of order_states
                    - order = order_states[order]
                    %li
                      %a.orders-list__modal-btn{class: "orders-list__modal-btn-#{order.slug}"}
                        = "#{order.title}"
            .clearfix
            -#%button.close{"data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
          .modal-body
            .row
              .col-md-3
                Товары
              .col-md-9
                - for i in [0..2]
                  .media.order-products__list-item
                    .pull-left
                      .media-object
                        %img{src: 'images/product-thumb.png', width: 34, height: 34}
                    .media-body
                      Мыльница с якорем
            %hr
            .row
              .col-md-3
                Покупатель
              .col-md-9
                Лучинин Евгений Павлович, genue.luben@gmail.com,
                %nobr +7 (905) 716-14-51
            %hr
            .row
              .col-md-3
                Адрес
              .col-md-9
                Москва, 123100, улица 1905 года, 5-39
            %hr
            .row
              .col-md-3
                Стоимость
              .col-md-9
                %span.order-products__list-item-cost 15 800 руб.
                &nbsp;&nbsp;
                %span.order-status-bullet.order-status-bullet-new
                Оплачено
            %hr






