!!! 5
%html
  %head
    @@include('./shared/_head.haml')
  %body
    %script{src: 'scripts/bundle.js'}

    .app-left-sidebar
      %ul.left-sidebar__nav
        - links = [{slug: 'info', icon: 'fa fa-info-circle', title: 'Что делать?'}, {slug: 'products', icon: 'fa fa-th-large', title: 'Товары', href: 'products.html'}, {slug: 'orders', icon: 'fa fa-shopping-cart', title: 'Заказы', href: 'orders.html'}, {slug: 'catalog', icon: 'fa fa-folder-open', title: 'Витрина'}, {slug: 'settings', icon: 'fa fa-cog', title: 'Настройка'}, {slug: 'shops', icon: 'fa fa-briefcase', title: 'Мои магазины'}, {slug: 'user', icon: 'fa fa-user', title: 'Олег С.'}]
        - for l of links
          - l = links[l]
          - if l.slug == 'products'
            - li_class = 'active'
          - else
            - li_class = ''
          %li{class: "#{li_class}"}
            %a.left-sidebar__nav-link{href: "#{l.href}"}
              %i.left-sidebar__nav-link-icon{class: "#{l.icon} nav-link-icon-#{l.slug}"}
              .left-sidebar__nav-link-title= l.title
              .clearfix
    .app-header-navbar
      .container-fluid
        .col-lg-10.col-lg-offset-1
          %h1.header-navbar__title.pull-left Добавить товар
          %h1.header-navbar__brand.pull-right Field&Rag
          -#%form.pull-right
            %input.form-control.orders-list__search-input{type: 'search', placeholder: 'Найти название, номер, артикул'}
          .clearfix

    .app-main-content
      .container-fluid
        .col-lg-10.col-lg-offset-1
          .orders-list
            %form.simple_form.products__new-form
              .row
                .col-md-8
                  .form-group
                    %input.form-control{type: "text", placeholder: 'Название товара'}
                  .form-group.text
                    %textarea.form-control{:placeholder => "Описание", :required => "required", :role => "autosize"}
                  .row
                    .col-sm-6.col-md-3
                      .form-group
                        %input.form-control{type: "text", placeholder: 'Цена'}
                    .col-sm-6
                      %div( data-react-class="SuperSelect" data-react-props='{"name": "category_name", "options":["Молоко", "Брилианты", "Категория 2"]}')

                  .row
                    .col-sm-6.col-md-3
                      .form-group
                        %input.form-control{type: "text", placeholder: 'Количество'}
                    .col-sm-6.col-md-4
                      .form-group
                        %input.form-control{type: "text", placeholder: 'Артикул'}
                    %div{role: 'products__new-form-variants-place'}
                      %h3.col-sm-12{role: 'products__new-form-variants-title'} Варианты товара

                    .col-sm-6.col-md-5
                      .form-group
                        -#input.btn.form-control{type: "text", placeholder: 'Добавить размеры и цвета'}
                        .btn.form-control{role: 'products__new-form-variants-add'}
                          Добавить размеры и цвета
                  .hide
                    .row{role: 'products__new-form-variants-item'}
                      .col-md-12
                      .col-sm-2
                        .form-group
                          %input.form-control{type: "text", placeholder: 'Размер'}
                      .col-sm-3
                        .form-group
                          %input.form-control{type: "text", placeholder: 'Цвет'}
                      .col-sm-3
                        .form-group
                          %input.form-control{type: "text", placeholder: 'Количество'}
                      .col-sm-3
                        .form-group
                          %input.form-control{type: "text", placeholder: 'Артикул'}
                      .col-sm-1
                        .form-group
                          %a.btn.form-control &times;
                .col-md-4
                  .products__list-item-new
                    %img.products__list-item-image{ src: "images/product-add.svg" }
                    %span.products__list-item-new-label.text-muted
                      Выберите или перетащите
                      %br
                      фотографии
              .products__new-form-actions
                %button.products__new-form-submit-btn{"data-disable-with" => "Сохраняем...", :type => "submit"}
                  Сохранить

