!!! 5
%html
  %head
    @@include('./shared/_head.haml')
  %body
    %script{src: 'scripts/bundle.js'}

    .app-left-sidebar
      %ul.left-sidebar__nav
        - links = [{slug: 'info', icon: 'fa fa-info-circle', title: 'Что делать?'}, {slug: 'products', icon: 'fa fa-th-large', title: 'Товары', href: 'products.html'}, {slug: 'orders', icon: 'fa fa-shopping-cart', title: 'Заказы', href: 'orders.html'}, {slug: 'catalog', icon: 'fa fa-folder-open', title: 'Витрина'}, {slug: 'settings', icon: 'fa fa-cog', title: 'Настройка'}, {slug: 'shops', icon: 'fa fa-briefcase', title: 'Мои магазины'}, {slug: 'user', icon: 'fa fa-user', title: 'Олег С.'}]
        - for l of links
          - l = links[l]
          - if l.slug == 'products'
            - li_class = 'active'
          - else
            - li_class = ''
          %li{class: "#{li_class}"}
            %a.left-sidebar__nav-link{href: "#{l.href}"}
              %i.left-sidebar__nav-link-icon{class: "#{l.icon} nav-link-icon-#{l.slug}"}
              .left-sidebar__nav-link-title= l.title
              .clearfix
    .app-header-navbar
      .container-fluid
        .col-lg-10.col-lg-offset-1
          %h1.header-navbar__title.pull-left Добавить товар
          %h1.header-navbar__brand.pull-right Field&Rag
          -#%form.pull-right
            %input.form-control.orders-list__search-input{type: 'search', placeholder: 'Найти название, номер, артикул'}
          .clearfix

    .app-main-content
      .container-fluid
        .col-lg-10.col-lg-offset-1
          .orders-list
            %form.simple_form.products__new-form
              .row
                .col-md-8
                  .form-group
                    %label.toggle__block{role: 'product-toggle'}
                      .toggle__block-label-checked.pull-left
                        Товар на сайте
                      .toggle__block-box.pull-left
                        %input.toggle__block-checkbox{type: 'checkbox'}
                        .toggle__block-switch
                        .toggle__block-track

                      .toggle__block-label-unchecked.pull-left
                        Скрыть товар
                      .clearfix
                  .form-alert.form-alert-danger
                    Невозможно опубликовать товар. Проверьте поля, выделенные красным
                  .form-group
                    %label Название товара
                    %input.form-control{type: "text", placeholder: 'Например, велосипед городской'}
                  .row
                    .col-sm-6
                      .form-group
                        %label Бренд
                        %input.form-control{type: "text", placeholder: 'Бренд'}
                    .col-sm-6
                      .form-group
                        %label Цена
                        %input.form-control{type: "text", placeholder: '20 000'}
                    .col-sm-6
                      .form-group
                        %label Категория
                        %div( data-react-class="SuperSelect" data-react-props='{"name": "category_name", "value": "Кефир", "options":["Молоко", "Морепродукты", "Мопеды", "Брилианты", "Категория 2"]}')
                    .col-sm-6
                      .form-group
                        %label Подкатегория
                        %div( data-react-class="SuperSelect" data-react-props='{"name": "category_name", "value": "Кефир", "options":["Молоко", "Морепродукты", "Мопеды", "Брилианты", "Категория 2"]}')
                  .form-group{role: 'products__new-form-variants-add-block'}
                    .btn.btn-add-fields{role: 'products__new-form-variants-add-block-btn'}
                      Добавить варианты (размеры, цвета)
                  %div{role: 'products__new-form-variants-block'}
                    %label Варианты товара
                    .form-block-group
                      .form-group
                        %a.products__new-form-variant-type-btn.active{role: 'products__new-form-variant-type-btn'} Размер
                        %a.products__new-form-variant-type-btn{role: 'products__new-form-variant-type-btn'} Цвет
                        %input.products__new-form-custom-variant-input{type: "text", placeholder: 'Другое', role: 'products__new-form-variant-type-input'}
                      .row
                        .col-md-10
                          .row.row-block-padding
                            .col-sm-4
                              %label{role: 'products__new-form-variant-type-label'} Размер
                            .col-sm-4
                              %label Количество
                            .col-sm-4
                              %label Артикул

                      .row{role: 'products__new-form-variants-item'}
                        .col-md-12
                        .col-md-10
                          .row.row-block-padding
                            .col-sm-4
                              %input.form-control{type: "text", placeholder: 'Например, XL'}
                            .col-sm-4
                              %input.form-control{type: "text", placeholder: 'Например, 5'}
                            .col-sm-4
                              %input.form-control{type: "text", placeholder: 'Например, M001-11-00'}
                          %br
                        .col-sm-2
                          %a.products__new-form-remove-variant-btn.pull-right
                          .clearfix
                      .row{role: 'products__new-form-variants-place'}

                      .form-group
                        -#input.btn.form-control{type: "text", placeholder: 'Добавить размеры и цвета'}
                        .btn-add-fields{role: 'products__new-form-variants-add'}
                          Добавить ещё

                  .form-group.text
                    %label
                      Описание
                    %textarea.form-control{:placeholder => "Описание", :required => "required", :role => "autosize"}

                  .form-group
                    %label{role: 'products__new-form-params-title'} Характеристики
                    .row.hide{role: 'products__new-form-params-item'}
                      .col-md-10
                        .row
                          .col-sm-6
                            .form-group-sm
                              %input.form-control{type: "text", placeholder: 'Например, вес'}
                          .col-sm-6
                            .row-gutter-dash.text-muted
                              &mdash;
                            .form-group-sm
                              %input.form-control{type: "text", placeholder: '11 грамм'}
                      .col-sm-2
                        .form-group-sm
                          %a.products__new-form-remove-params-btn.pull-right
                          .clearfix
                    .row{role: 'products__new-form-params-place'}
                    .btn.btn-add-fields{role: 'products__new-form-params-add'}
                      Добавить характеристики
                .col-md-4
                  %div( data-react-class="ImagesForm" data-react-props='{"imageDeletePath": "/products/image", "fieldName": "images[]"}')
                  .clearfix

                  -# only in static:
                  %hr
                  .text-muted
                    пример кнопки добавления фотографии:
                  .products__new-form-images-list
                    .products__new-form-image-thumb-block
                      .products__new-form-image-thumb-empty
                      .products__new-form-image-thumb-add
                  -# end

              .row
                .col-md-8
                  .products__new-form-actions
                    %button.products__new-form-submit-btn.pull-left{"data-disable-with" => "Сохраняем...", :type => "submit"}
                      Сохранить
                    %button.products__new-form-remove-btn.pull-right
                      Удалить товар навсегда

